.app {
    height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

/* .app::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
} */

.app .container {
    width: 1170px;
    height: 100%;
    margin: auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1150px) {
    .app {
        background: url('./static/bg-image-nighttime-desktop.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (min-width: 800px) and (max-width: 1149px) {
    .app {
        background: url('./static/bg-image-nighttime-tablet.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (max-width: 799px) {
    .app {
        background: url('./static/bg-image-nighttime-mobile.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
